.header-navbar {
    height: 120px;
}


#header-title {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(238, 198, 165);
    font-size: 30px;
    font-weight: 700;

}